@import url(https://fonts.googleapis.com/css?family=Caveat:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Podkova:300,regular,500,600,700,800);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Podkova';
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  list-style-type: none;
}
a {
  color: black;
  text-decoration: none;
}
h2 {
  font-size: 47px;
  font-weight: bold;
  color: #323232;
  font-style: italic;
}
button {
  background-color: inherit;
  border: none;
}

.mainBlock {
  border-bottom: 3px solid #000;
  text-align: start;
}
.container {
  max-width: 1360px;
  margin: 0 auto;
}
@media (max-width: 600px){
  .container {
    width: 100%;
    padding: 0 30px;
  }
  h2 {
    font-size: 32px;
    text-align: center;
  }
  p {
      font-size: 17px !important;
  }
}
.menuLi:not(:last-child){
  margin-right: 20px;
}
.link {
  position: relative;
  font-size: 22px;
  font-weight: 300;
  background-color: #D9D9D9;
  padding: 8px 20px;
  border-radius: 100px;
  transition: all 0.1s ease-in-out;
}
.link.active {
  background-color: #666666;
  color: white;
  border: 1px solid #FFFFFF;
}
.link:hover {
  font-size: 30px;
}
.link:active {
  box-shadow: 0 0 15px #00CFFD78;
}
.person1 {
  top: 18px;
  left: 50px;
  color: white;
}
.person1 .personHead {
  max-width: 128px;
}
.person1 .personHead, .person1 .personBody {
  background-color: #772C2C;
}
.person2 {
  top: 18px;
  right: 30px;
  color: black;
}
.person2 .personHead, .person2 .personBody {
  background-color: #EBFF00;
}
.person3 {
  bottom: 60px;
  left: 55px;
  color: black;
}
.person3 .personHead, .person3 .personBody {
  background-color: #77C2D2;
}

.linkMob {
  position: relative;
  font-size: 22px;
  font-weight: 300;
  background-color: #D9D9D9;
  padding: 8px 20px;
  border-radius: 100px;
}

